In [42]:
import pandas as pd
df = pd.read_csv('/Users/rongomez/Desktop/RoninFiles_Internship/actual_datasets/charlotte.csv')
df.head(10)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,tempC,visibility,winddirDegree,windspeedKmph,location,Week of day,month,day,year,hour
0,2012-01-01 00:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,226,6,28212,Sunday,1,1,2012,0
1,2012-01-01 01:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,218,7,28212,Sunday,1,1,2012,1
2,2012-01-01 02:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,210,8,28212,Sunday,1,1,2012,2
3,2012-01-01 03:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,202,8,28212,Sunday,1,1,2012,3
4,2012-01-01 04:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,210,9,28212,Sunday,1,1,2012,4
5,2012-01-01 05:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,6,10,219,10,28212,Sunday,1,1,2012,5
6,2012-01-01 06:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,5,10,227,12,28212,Sunday,1,1,2012,6
7,2012-01-01 07:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,7,10,220,14,28212,Sunday,1,1,2012,7
8,2012-01-01 08:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,8,10,213,17,28212,Sunday,1,1,2012,8
9,2012-01-01 09:00:00,16,5,0.0,5.4,4,48,12:01 PM,12:33 AM,07:32 AM,...,10,10,205,20,28212,Sunday,1,1,2012,9

In [2]:
df.dtypes

date_time             object
maxtempC               int64
mintempC               int64
totalSnow_cm         float64
sunHour              float64
uvIndex                int64
moon_illumination      int64
moonrise              object
moonset               object
sunrise               object
sunset                object
DewPointC              int64
FeelsLikeC             int64
HeatIndexC             int64
WindChillC             int64
WindGustKmph           int64
cloudcover             int64
humidity               int64
precipMM             float64
pressure               int64
tempC                  int64
visibility             int64
winddirDegree          int64
windspeedKmph          int64
location               int64
dtype: object

In [5]:
#converts the data type column from object to datetime format
df['date_time'] = pd.to_datetime(df.date_time)

In [45]:
def cel_to_fahrenheit(tempC):
    """Convert celcius to fahrenheit
    
    Returning fahrenheit"""
    fahrenheit = (tempC * 9/5) + 32
    return fahrenheit

In [46]:
cel_to_fahrenheit(df['tempC'])

year
2012    42.8
2012    42.8
2012    42.8
2012    42.8
2012    42.8
        ...
2019    48.2
2019    48.2
2019    46.4
2019    44.6
2019    44.6
Name: tempC, Length: 70128, dtype: float64